<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script type="text/javascript" th:src="@{/js/iconfontwqcz.js}"></script>
    <style>
        .iconwqcz {
            width: 11em;
            height: 11em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
        .wqcz{
            height:300px;
            padding-top:150px;
            text-align: center;

        }
    </style>
</head>
<body>
<div class="wqcz">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#icon-wuquanfangwen"></use>
    </svg>

</div>
<div style="text-align: center; font-weight: 500;font-family: '微软雅黑';font-size: 80px;margin-top:-100px ;">
    <span>您无权进行此操作</span>
</div>
</body>
</html>