<!doctype html>
<html lang="cn" class="no-js" from="CMS:China Header & Footer" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">>
	<head>
		<meta charset="UTF-8" />
		<title>首页</title>
		<link rel="stylesheet" type="text/css" th:href="@{/lib2/shouye.css}" />
		<link th:href="@{/lib2/vendor.css}" rel="stylesheet">
		<link th:href="@{/lib2/index.css}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/lib2/common.css}">
		<script th:src="@{/lib2/core.js}" id="oneplusjs" updatelist="*"></script>
		<script th:src="@{/lib2/vendor.js}"></script>
		<script type="text/javascript" th:src="@{/lib2/index.js}"></script>
	</head>
	<body class="hide-body">
	<div th:replace="user/head :: html"></div>
		<div id="op-wrap">
			<div id="op-content">
				<div id="cms-designer" class="design-canvas flex">
					<div class="section-row" style="order: 8;">
						<div class="sections">
							<div class="section-container" style="width: 100%;">
								<div tpl-id="shotononeplus-3" class="section-template-placeholder">

									<section class="part3 odop" id="part3">
										<div class="img-box">
											<div class="odop-text" style="color:#fff">
												<div class="h3">Shot on OnePlus</div>
												<div class="h4"></div>
												<button class="btn opod-btn" >我要参加</button>
											</div>
										</div>
									</section>

								</div>
							</div>
						</div>
					</div>
					<div class="section-row" style="order: 10;">
						<div class="sections">
							<div class="section-container" style="width: 100%;">
								<div tpl-id="service_icons-13" class="section-template-placeholder">

									<div class="ft-service">
										<div class="service-wrap">
											<ul>
												<li>
												  	<a  target="_blank" onclick="_opq.push(['trackEvent','onepluscn_A92','7天无理由退货'])">
														<i class="i-7d-return"></i>
														<span>7天无理由退货</span>
													</a>
												</li>
												<li>
													<a target="_blank" onclick="_opq.push(['trackEvent','onepluscn_A93','15天退货保障'])">
														<i class="i-15d-return"></i>
														<span>15天退货保障</span>
													</a>
												</li>
												<li>
													<a  target="_blank" onclick="_opq.push(['trackEvent','onepluscn_A94','30天换货保障'])">
														<i class="i-30d-swap"></i>
														<span>30天换货保障</span>
													</a>
												</li>
												<li>
													<a  target="_blank" onclick="_opq.push(['trackEvent','onepluscn_A95','99元全场包邮'])">
														<i class="i-free-send"></i>
														<span>99元全场包邮</span>
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!---->
							</div>
						</div>
					</div>
					<div class="section-row" style="order: 5;">
						<div class="sections">
							<div class="section-container" style="width: 100%;">
								<div tpl-id="narrowbanner-11" class="section-template-placeholder">
									<a id="" name=""></a>

									<section id="op-narrow-banner" class="op-narrow-banner">
										<div class="narrow-banner-0 narrow-banner">
											<div class="banner-column ">
												<div class="banner-column-text">
													<div class="text-content ">
														<p class="font-subheading"></p>
														<p class="font-headline-3">OnePlus 7</p>
														<p class="price font-title">强劲更尽兴</p>
														<p class="detail font-subtitle">￥2999 起</p>
														<div class="banner-button-box">
															<a class="banner-button js-button one-button padding-3em btn-white btn-ghost" promocr="Home Banner" promops="ps0" target="_self" track-data=""><span>立即购买</span></a>
														</div>
														<div class="link-button">
															<a  promocr="Home Banner" promops="ps0" class="link learn-more">
																了解更多
															</a>
														</div>
														<p class="info font-body-1"></p>
													</div>
													<div class="abs-layer">
														<p class="font-descriptions"></p>
													</div>
												</div>
												<div class="banner-column-bg lazyload" data-background="/img/t21.jpg" data-background-xs="/img/t22.jpg" data-background-md="/img/t23.jpg"></div>
											</div>
										</div>
										<div class="narrow-banner-1 narrow-banner">
											<div class="banner-column " >
												<div class="banner-column-text">
													<div class="text-content ">
														<p class="font-subheading"></p>
														<p class="font-headline-3">OnePlus 7 Pro</p>
														<p class="price font-title">开启流畅新纪元</p>
														<p class="detail font-subtitle">￥3999 起</p>
														<div class="banner-button-box">
															<a class="banner-button js-button one-button padding-3em btn-white btn-ghost"  promocr="Home Banner" promops="ps1" target="_self" track-data="">
																<span>立即购买</span></a>
														</div>
														<div class="link-button">
															<a  promocr="Home Banner" promops="ps1" class="link learn-more">
																了解更多
															</a>
														</div>
														<p class="info font-body-1">8 月 6 日 10:00 全速开售</p>
													</div>
													<div class="abs-layer">
														<p class="font-descriptions"></p>
													</div>
												</div>
												<div class="banner-column-bg lazyload" data-background="/img/t11.jpg" data-background-xs="/img/t12.jpg" data-background-md="/img/t13.jpg"></div>
											</div>
										</div>
									</section>
									<script th:src="@{/lib2/xyJs.js}"></script>
								</div>
								<!---->
							</div>
						</div>
					</div>
					<div class="section-row" style="order: 9;">
						<div class="sections">
							<div class="section-container" style="width: 100%;">
								<div tpl-id="lastthreeblock-4" class="section-template-placeholder">

									<section class="part4 bottom-promos">
										<div class="inner">
											<ul class="clearfix flex flex-xs-column">
												<li style="">
													<a onclick="_opq && _opq.push(['trackEvent','博客'])">
														<img th:src="@{/img/foot1.jpg}" />
													</a>
													<div class="tit-desc-panel">
														<div>
															<h4>博客</h4>
															<p>你为什么需要 90Hz 的屏幕</p>
														</div>
														<a  target="_self" onclick="_opq && _opq.push(['trackEvent','博客'])" class="bottom-learn-more">了解更多</a>
													</div>
												</li>
												<li style="">
													<a  onclick="_opq && _opq.push(['trackEvent','新闻'])">
														<img th:src="@{/img/foot2.jpg}" />
													</a>
													<div class="tit-desc-panel">
														<div>
															<h4>新闻</h4>
															<p>超燃现场，OnePlus 和全球加油的狂欢盛宴！</p>
														</div>
														<a target="_self" onclick="_opq && _opq.push(['trackEvent','新闻'])" class="bottom-learn-more">了解更多</a>
													</div>
												</li>
												<li style="">
													<a onclick="_opq && _opq.push(['trackEvent','官网'])">
														<img th:src="@{/img/foot3.jpg}" />
													</a>
													<div class="tit-desc-panel">
														<div>
															<h4>官网</h4>
															<p>Android Q 来了</p>
														</div>
														<a  target="_self" onclick="_opq && _opq.push(['trackEvent','官网'])" class="bottom-learn-more">了解更多</a>
													</div>
												</li>
											</ul>
										</div>
									</section>
								</div>
								<!---->
							</div>
						</div>
					</div>
					<div class="section-row" style="order: 7;">
						<div class="sections">
							<div class="section-container" style="width: 100%;">
								<div tpl-id="homepromo-12" class="section-template-placeholder">

									<section class="op-home-promo">
										<ul class="home-promo-group">
											<li class="promo-item promo-item-0" style='order:1'>
												<a class="item-link" target="_block"  promocr="Home Block" promops="ps0">
													<div class="promo-item-bg lazyload" data-background="/img/t31.jpg" data-background-xs="/img/t32.jpg" data-background-md="/img/t33.jpg"></div>
													<div class="promo-item-text ">
														<div class="text-content">
															<div class="font-headline-1 title">以旧换新享补贴</div>
															<div class="font-subheading subtitle">了解更多</div>
														</div>
													</div>
												</a>
												<a class="item-link item-link-mo" target="_block" href="#" promocr="Home Block" promops="ps0">
													<div class="promo-item-bg lazyload" data-background="/img/t31.jpg" data-background-xs="/img/t32.jpg" data-background-md="/img/t33.jpg"></div>
													<div class="promo-item-text ">
														<div class="text-content">
															<div class="font-headline-1 title">以旧换新享补贴</div>
															<div class="font-subheading subtitle">了解更多</div>
														</div>
													</div>
												</a>
											</li>
											<li class="promo-item promo-item-1" style='order:3'>
												<a class="item-link" target="_self" promocr="Home Block" promops="ps1">
													<div class="promo-item-bg lazyload" data-background="/img/t51.jpg" data-background-xs="/img/t52.jpg" data-background-md="/img/t53.jpg"></div>
													<div class="promo-item-text ">
														<div class="text-content">
															<div class="font-headline-1 title">推荐有礼 免费领周边</div>
															<div class="font-subheading subtitle">了解更多</div>
														</div>
													</div>
												</a>
												<a class="item-link item-link-mo" target="_self" promocr="Home Block" promops="ps1">
													<div class="promo-item-bg lazyload" data-background="/img/t51.jpg" data-background-xs="img/t52.jpg" data-background-md="/img/t53.jpg"></div>
													<div class="promo-item-text ">
														<div class="text-content">
															<div class="font-headline-1 title">推荐有礼 免费领周边</div>
															<div class="font-subheading subtitle">了解更多</div>
														</div>
													</div>
												</a>
											</li>
											<li class="promo-item promo-item-2" style='order:2'>
												<a class="item-link" target="_self"  promocr="Home Block" promops="ps2">
													<div class="promo-item-bg lazyload" data-background="/img/t41.jpg" data-background-xs="/img/t42.jpg" data-background-md="/img/t43.jpg"></div>
													<div class="promo-item-text ">
														<div class="text-content">
															<div class="font-headline-1 title">一加云耳 2</div>
															<div class="font-subheading subtitle">声，得我心</div>
														</div>
													</div>
												</a>
												<a class="item-link item-link-mo" target="_self" promocr="Home Block" promops="ps2">
													<div class="promo-item-bg lazyload" data-background="/img/t41.jpg" data-background-xs="/img/t42.jpg" data-background-md="/img/t43.jpg"></div>
													<div class="promo-item-text ">
														<div class="text-content">
															<div class="font-headline-1 title">一加云耳 2</div>
															<div class="font-subheading subtitle">声，得我心</div>
														</div>
													</div>
												</a>
											</li>
											<li class="promo-item promo-item-3" style='order:4'>
												<a class="item-link" target="_self" promocr="Home Block" promops="ps3">
													<div class="promo-item-bg lazyload" data-background="/img/t61.jpg" data-background-md="/img/t63.jpg"></div>
													<div class="promo-item-text black">
														<div class="text-content">
															<div class="font-headline-1 title">晒开箱赢好礼</div>
															<div class="font-subheading subtitle">了解更多</div>
														</div>
													</div>
												</a>
												<a class="item-link item-link-mo" target="_self"  promocr="Home Block" promops="ps3">
													<div class="promo-item-bg lazyload" data-background="/img/t61.jpg" data-background-xs="/img/t62.jpg" data-background-md="/img/t63.jpg"></div>
													<div class="promo-item-text black">
														<div class="text-content">
															<div class="font-headline-1 title">晒开箱赢好礼</div>
															<div class="font-subheading subtitle">了解更多</div>
														</div>
													</div>
												</a>
											</li>
										</ul>
									</section>
								</div>
								<!---->
							</div>
						</div>
					</div>
				</div>
				<script th:src="@{/lib2/imgJs.js}"></script>
			</div>
		</div>

		<div class="oneplus-store-cn">
			<div id="page-footer">

				<footer id="footer">
					<div class="container-text">
						<nav class="nav-bread">
						</nav>
						<div class="footer-nav">
							<dl>
								<dt class="nav-trigger collapsed">一加产品<i class="icon-fold"></i></dt>
								<dd class="nav-slide text-sm">
									<ul>
										<li>
											<a >OnePlus 7 Pro</a>
										</li>
										<li>
											<a >OnePlus 7</a>
										</li>
										<li>
											<a >OnePlus 6T</a>
										</li>
										<li>
											<a >OnePlus 6</a>
										</li>
										<li>
											<a >OnePlus 5T</a>
										</li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt class="nav-trigger collapsed">热门活动<i class="icon-fold"></i></dt>
								<dd class="nav-slide text-sm">
									<ul>
										<li>
											<a >推荐有礼</a>
										</li>
										<li>
											<a class="trade-in-pc"  target="_blank">以旧换新</a>
										</li>
										<li>
											<a >Shot on OnePlus</a>
										</li>
										<li>
											<a>邀请码购买</a>
										</li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt class="nav-trigger collapsed">关于一加<i class="icon-fold"></i></dt>
								<dd class="nav-slide text-sm">
									<ul>
										<li>
											<a >了解一加</a>
										</li>
										<li>
											<a >加入一加</a>
										</li>
										<li>
											<a>H2OS</a>
										</li>
										<li>
											<a>云服务</a>
										</li>
										<li>
											<a >预置应用公示</a>
										</li>
									</ul>
								</dd>
							</dl>
							<dl>
								<dt class="nav-trigger collapsed">服务支持<i class="icon-fold"></i></dt>
								<dd class="nav-slide text-sm">
									<ul>
										<li>
											<a >购买帮助</a>
										</li>
										<li>
											<a >用户手册</a>
										</li>
										<li>
											<a >寄修服务</a>
										</li>
										<li>
											<a >服务中心</a>
										</li>
										<li>
											<a>联系我们</a>
										</li>
									</ul>
								</dd>
							</dl>
							<dl>
								<div class="contact-us-cn">
									<a class="one-tel-number service-number text-black" ><i class="ico ico-call_v2"></i>400-888-1111</a>
									<a id="foo-service-chat-for-sobot"  target="_blank" style="margin-top:15px; margin-bottom: 15px;" class="one-button frozen btn-ghost btn-black-online btn-lg">在线客服</a>
									<p class="one-tel-time service-available">周一至周日 9:00 - 22:00</p>

								</div>
							</dl>
						</div>

					</div>
					<div class="container-infinite bg-warm-gray">
						<div class="container-text">
							<div class="contact-us">
								<div class="current-store hidden-footer-not-xs">
									<i class="cn"></i>中国( 简体中文/CNY )
								</div>
								<div class="link">
									<ul>
										<li>
											<a>隐私政策</a>
										</li>
										<li>
											<a>用户协议</a>
										</li>
										<li>
											<a >竞赛规则</a>
										</li>
										<li>
											<a>知识产权政策</a>
										</li>
										<li>
											<a >安全问题反馈</a>
										</li>
										<li>
											<a>站点地图</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="footer-tail-cn">
								<div class="row">
									<div class="col-sm-8 col-xs-12">
										<p class="copy-right"><span class="no-wrap">© 2013-2019 OnePlus. All Rights Reserved.</span> </p><br>
										<p class="copy-right"><span class="no-wrap">粤ICP备13080605号-4</span><span> | </span><span class="no-wrap">备案主体编号:</span> <span class="no-wrap">44201910955995</span></p><br>
										<a class="under-supervision"  target="_blank" track-key="d56663b49c29ea630fdebd39ba0a9acb" et-attached="1">
											<img th:src="@{/img/badge.png}" alt="粤公网安备 44030402001407号">粤公网安备 44030402001407号</a>
									</div>
									<div class="col-sm-4 col-xs-12">
										<div class="certificate-container">
											<a class="certificate-badge" th:href="@{/img/电子营业执照2.jpg}" target="_blank" track-data="电子营业执照">
												<img th:src="@{/img/电子营业执照.png}" alt="电子营业执照" title="电子营业执照" width="83" height="30">
											</a>
											<a class="certificate-badge" th:href="@{|https://ss.knet.cn/verifyseal.dll?sn=e14063044030050707awmq000000&amp;ct=df&amp;a=1&amp;pa=20151014|}" track-key="97fd6aef8e1b0f732c6abdfd2ffbb811" et-attached="1" track-data="可信网站" target="_blank">
												<img th:src="@{/img/cnnic.png}" width="83" height="30" alt="可信网站">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>