<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title></title>
</head>
<script type="text/javascript" th:src="@{/js/jquery-1.8.2.min.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
<script type="text/javascript" th:src="@{/js/order/common.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/submitOrder.css}" />
<script th:src="@{/js/layer-v3.1.1/layer/layer.js}"></script>
<style>
.jiahao {
	font-size: 30px;
	width: 30px;
	height: 30px;
	margin: auto;
	line-height: 30px;
	text-align: center;
	margin-top: 10px;
	cursor: pointer;
}

.jahao:hover {
	
}
</style>
<body>
<div th:replace="user/head :: html"></div>

	<div class="cart">

		<div class="cart_main">
			<div class="cart_title">提交订单</div>
				<!--收货地址-->
				<div class="address" th:if="${addrInfo!=null}" id="addr">
					<div class="order-list">
						<div class="shangpinqingdan">收货信息</div>
						<div class="xiugai" onclick="toUpdateAddr()">修改/添加</div>
					</div>
					<div class="addrInf">
						<div class="oname" id="name">[[${addrInfo.aname}]]</div>
						<div class="addr_phone" id="addr">
							<span id="">[[${addrInfo.addr}]]</span><br /> 电话：<span id="phone">[[${addrInfo.phone}]]</span>
						</div>
					</div>
				</div>
				<!--收货地址空-->
				<div class="address" th:if="${addrInfo==null}">
					<div class="addrInf">
						<div
							style="width: 160px; margin: auto; color: #828282; margin-top: 30px;">
							您还没有默认收货地址</div>
						<div class="jiahao" onclick="toUpdateAddr()">+</div>
					</div>

				</div>
			<!--配送方式-->
			<div class="express">
				<div class="order-list">
					<div class="shangpinqingdan">配送方式</div>
				</div>
				<div class="expressInf">
					<div class="expretype">快递配送</div>
					<div class="expressTip">
						<span id="">感谢加油的支持，订单支付后预计在48小时内为你发货</span>
					</div>
				</div>
			</div>
			<div style="height: 10px; width: 960px; background-color: #efefef;">

			</div>
			<div class="orderItemMain">
				<div class="order-list">
					<div class="shangpinqingdan">商品清单</div>
					<div class="xiugai" onclick="toCart()">返回购物车修改</div>
				</div>

					<div class="orderItem-item" th:each="item:${cart.cartItems}">
						<div class="orderItem-item-img">
							<img
								th:src="|/${item.product.photopath}|" />
						</div>
						<div class="orderItem-item-name">[[${item.product.pname}]]</div>
						<div class="orderItem-item-val">
							<div class="val-span">￥ [[${item.product.price}]]</div>
							<div class="val-span">x[[${item.count}]]</div>
							<div class="val-span">￥[[ ${item.subTotal}]]</div>
						</div>
					</div>

			</div>
			<div class="total ">
				<div class="total_count ">
					<!-- 	已选择<span id="total_c"></span> 件商品 -->
				</div>
				<div class="total_right ">
					<div class="zongjia ">
						<p>总价</p>
						<p class="total_Price ">
							￥<span id="total"> [[${cart.total}]]</span>
						</p>
					</div>
					<p>支持免邮</p>
					<div class="total_btn ">
						<button class="button_jiesuan"th:onclick="|sub_toPay(${addrInfo.id})|">提交订单</button>
					</div>
				</div>
			</div>
		</div>
		<div style="width: 100%; height: 80px; margin-top: 30px;"></div>
	</div>
	<div th:replace="user/foot :: html"></div>
</body>
<script type="text/javascript">
	
	function sub_toPay(id) {
		if($("#addr")==null){
			layer.msg('请将收货信息补充完整', function() {
				//关闭后的操作
			});
			return;
		}
		alert("跳转")
		location.href="/order/toUserPay?addrId="+id;
	}
	function toUpdateAddr(){
		location.href="/user/order/AddrInfoController/select";
	}
</script>
</html>
