
		.login {
			margin-top: 100px;
			text-align: center;
		}
		
		.login_font {
			font-family: MYingHei W5, SlateForOnePlusRegular, Microsoft Yahei, sans-serif;
			font-size: 20px;
		}
		
		.form_login {
			position: relative;
			margin-top: 20px;
		}
		.input_login{
			-web-kit-appearance: none;
			-moz-appearance: none;
			font-size: 14px;
			/*设置输入框中字体的大小*/
			height: 40px;
			/*设置输入框的高度*/
			border-radius: 5px;
			/*设置输入框的圆角的大小*/
			border: 1px solid #c8cccf;
			/*设置输入框边框的粗细和颜色*/
			color: #986655;
			/*设置输入框中文字的颜色 */
			outline: 0;
			/*将输入框点击的时候出现的边框去掉*/
			text-align: center;
			/*设置输入框中文字的位置*/
			/*display: block;*/
			/*将输入框设置为块级元素*/
			width: 310px;
			margin-top: 20px;
		}
	
		#login_btn {
			border-radius: 3px;
			/*圆角*/
			margin-top: 20px;
			width: 310px;
			height: 40px;
			/*按钮控件的宽度*/
			font-family: "Arial Black", Gadget, sans-serif;
			/*字体*/
			font-size: 14px;
			/*字体大小*/
			display: inline-block;
			/*段落内生出内框*/
			cursor: pointer;
			/*鼠标的形状*/
			color: white;
			/*设置文本的颜色*/
			background-color: #eb0028;
			/*背景颜色*/
			/*border-bottom-color: #eb0028;*/
			border-right-width: 0px;
			/*边框的粗细*/
			border-bottom-width: 0px;
			/*边框的粗细*/
			border-left-width: 0px;
			/*边框的粗细*/
			border-top-width: 0px;
			/*边框的粗细*/
		}
		
		.login_others {
			margin-top: 40px;
			text-align: center;
		}
		
		.login_others ul {
			margin-top: 20px;
			height: 23px;
			width: 310px;
			margin: auto;
			text-align: center;
			margin: auto;
		}
		
		.login_others ul li {
			float: left;
			font-size: 14px;
			margin: auto;
			margin-left: 30px;
		}
		
		.login_others ul li a {
			color: #0099cc;
		}
		
		.login_others ul li a:hover {
			text-decoration: underline;
			width: 310px;
		}
		
		.hrLine {
			vertical-align: middle;
			display: inline-block;
			margin: auto;
			width: 100px;
		}
		
		.fengexian {
			font-size: 12px;
			margin: auto;
			text-align: center;
			width: 310px;
			display: block;
		}
		
		.login_i {
			height: 2em;
			padding-top: 20px;
			margin: auto;
			width: 310px;
		}
		
		.login_icon_item {
			float: left;
			width: 2em;
			margin-left: 45px;
			cursor: pointer;
		}
		
		.login_icon {
			width: 2em;
			height: 2em;
		}
		
		.tip {
			font-size: 12px;
			padding-top: 30px;
			color: gray;
		}
		
		.tiaokuan {
			cursor: pointer;
			color: #0099CC;
		}
		
		.login_link {
			font-size: 14px;
			color: #0099CC;
			cursor: pointer;
		}